/* reseteo de estilos */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
}

:root{
    font-size: 16px;
}

/* mantiene el menu visible en todo momento de la navegación */

.cntMenu {
    position: fixed;
    width: 15%;
    min-width: 150px;
    height: 100vh;
    border-right: 1px solid #00749A;
    color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    & nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;

        & p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        & a {
            text-decoration: none;
            color: dimgrey;
            width: 100%;
            text-align: start;
            padding: 1rem 1.5rem;
            transition: color 0.7s ease;
            position: relative;
            overflow: hidden;

            &:hover {
                line-height: unset;
                color: #00749A;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}

/* transición visual (línea inferior) de la seleción en menu */

& a::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #00749A;
    bottom: 15%;
    transition: width 0.3s ease;
}



.cntImg {
    position: absolute;
    top: 20px;
    left: 20px;

    & img {
        width: 75%;
        text-align: center;
    }
}


.cntAnimaciones {
    width: 100%;
    height: 100%;
    margin-left: 15%;
}

.cntAnima {
    position: relative;
}

hr {
    width: 65%;
    margin: 0 auto;
    border: 1px solid rgb(243, 242, 242);
}

#presentacion,
#animacion1,
#animacion2,
#animacion3,
#animacion4,
#animacion5,
#conclusiones {   
    width: 2rem;
    padding: 5rem;
<<<<<<< HEAD
    
=======
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

>>>>>>> 94efabec42dd855b9d79eb5efce4fb5775f35035
}

#presentacion {
    border-left: 35px solid color-mix(in srgb, white 100%, #00749A 0%);

    & .icon__unir--black {
        text-align: center;
        width: 16rem;;
        margin-bottom: 3rem;
    }
}

#animacion1  {border-left: 35px solid color-mix(in srgb, white 90%, #00749A  5%);}
#animacion2  {border-left: 35px solid color-mix(in srgb, white 80%, #00749A 10%);}
#animacion3  {border-left: 35px solid color-mix(in srgb, white 70%, #00749A 15%);}
#animacion4  {border-left: 35px solid color-mix(in srgb, white 60%, #00749A 20%);}
#animacion5  {border-left: 35px solid color-mix(in srgb, white 50%, #00749A 25%);}
#notfound    {border-left: 35px solid color-mix(in srgb, white 40%, #00749A 30%);}
#conclusines {border-left: 35px solid color-mix(in srgb, white 30%, #00749A 35%);}
/* Presentación */
#presentacion {
    text-align: end;
    
}

#presentacion>h2 {
    line-height: 1.5;
}

#presentacion>p {
    text-align: start;
    margin: 50px 70px 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

#presentacion>ul {
    text-align: start;
    margin-right: 70px;

    & li {
        margin-left: 90px;
        list-style: none;
        line-height: 2.5;
    }
}

.actividad p:nth-child(1) {
    text-align: start;
}

.actividad p:nth-child(2) {
    text-align: justify;
    border-top: 2px double #00749A;
    border-bottom: 2px double #00749A;
    padding: 30px 0;
}

.actividad>p {
    margin-top: 50px;
    line-height: 1.5;
    font-style: italic;
    color: #00749A;
}

/* estilos de contenedores */

#animacion1,
#animacion2,
#animacion3,
#animacion4,
#animacion5 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & p {
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    & p:nth-child(1) {
        font-weight: bold;
    }

    & .cntTxt {
        width: 50%;
        padding: 0 5%;

        & code {
            font-size: 1rem;
            background: rgb(236, 236, 236);
            padding: 0.25rem 0.5rem;
            border-radius: 4px;
        }

        & span {
            font-style: italic;
            color: #00749A;
            font-weight: 600;
        }
    }

    & .cntSvg {
        width: 50%;
    }

    & .cntCode {
        
        width: 80%;
        margin: 0 auto;
    }
}

/* 
Animación 1 
Lectura Sistóllica
*/


/* Trancisiona los puntos con delay de 0.1 segundos de forma infinita 
en un tiempo de 5 segundos */
.puntosPA1  {animation: puntosPAuno 5s ease 0.1s infinite;}
.puntosPA2  {animation: puntosPAdos 5s ease 0.2s infinite;}
.puntosPA3  {animation: puntosPAtres 5s ease 0.3s infinite;}
.puntosPA4  {animation: puntosPAcuatro 5s ease 0.4s infinite;}
.puntosPA5  {animation: puntosPAcinco 5s ease 0.5s infinite;}
.puntosPA6  {animation: puntosPAseis 5s ease 0.6s infinite;}
.puntosPA7  {animation: puntosPAsiete 5s ease 0.7s infinite;}
.puntosPA8  {animation: puntosPAocho 5s ease 0.8s infinite;}
.puntosPA9  {animation: puntosPAnueve 5s ease 0.9s infinite;}
.puntosPA10 {animation: puntosPAdiez 5s ease 1.0s infinite;}
.puntosPA11 {animation: puntosPAonce 5s ease 1.1s infinite;}

/* los valores de 'y' en los @Keyframes permiten el 
movimiento de los puntos en la gráfica de manera vertica */
@keyframes puntosPAuno {
      0% {y: 410;}
     20% {y: 363;}
     80% {y: 363;}
    100% {y: 410;}
}

@keyframes puntosPAdos {
      0% {y: 410;}
     20% {y: 363;}
     80% {y: 363;}
    100% {y: 410;}
}

@keyframes puntosPAtres {
    0%   {y: 410;}
    20%  {y: 383;}
    80%  {y: 383;}
    100% {y: 410;}
}

@keyframes puntosPAcuatro {
    0%   {y: 410;}
    20%  {y: 391;}
    80%  {y: 391;}
    100% {y: 410;}
}

@keyframes puntosPAcinco {
    0% {
        y: 410;
    }

    20% {
        y: 359;
    }

    80% {
        y: 359;
    }

    100% {
        y: 410;
    }
}

@keyframes puntosPAseis {
    0% {
        y: 410;
    }

    20% {
        y: 399;
    }

    80% {
        y: 399;
    }

    100% {
        y: 410;
    }
}

@keyframes puntosPAsiete {
    0% {
        y: 410;
    }

    20% {
        y: 349;
    }

    80% {
        y: 349;
    }

    100% {
        y: 410;
    }
}

@keyframes puntosPAocho {
    0% {
        y: 410;
    }

    20% {
        y: 363;
    }

    80% {
        y: 363;
    }

    100% {
        y: 410;
    }
}

@keyframes puntosPAnueve {
    0% {
        y: 410;
    }

    20% {
        y: 379;
    }

    80% {
        y: 379;
    }

    100% {
        y: 410;
    }
}

@keyframes puntosPAdiez {
    0% {
        y: 410;
    }

    20% {
        y: 346;
    }

    80% {
        y: 346;
    }

    100% {
        y: 410;
    }
}

@keyframes puntosPAonce {
    0% {
        y: 410;
    }

    20% {
        y: 379;
    }

    80% {
        y: 379;
    }

    100% {
        y: 410;
    }
}

/* trancision de la trayectoria de polyline  */
.lineaDia {
    animation: trazoDia 5s ease infinite;
}


/* stroke-dashoffset, realiza la extension de separacin de trazo 
para simular el recorrido de lectura en gráfica */
@keyframes trazoDia {
    0% {
        stroke-dashoffset: 300;
    }

    20% {
        stroke-dashoffset: 300;
    }

    80% {
        stroke-dashoffset: 00;
    }

    100% {
        stroke-dashoffset: 300;
    }
}

/* lineas en los puntos de lectura que interpretan las tolerancias
registradas en la gráfica */
.sist1 {
    animation: lineaSisuno 5s ease 0.1s infinite;
}

.sist2 {
    animation: lineaSisdos 5s ease 0.2s infinite;
}

.sist3 {
    animation: lineaSistres 5s ease 0.3s infinite;
}

.sist4 {
    animation: lineaSiscuatro 5s ease 0.4s infinite;
}

.sist5 {
    animation: lineaSiscinco 5s ease 0.5s infinite;
}

.sist6 {
    animation: lineaSisseis 5s ease 0.6s infinite;
}

.sist7 {
    animation: lineaSissiete 5s ease 0.7s infinite;
}

.sist8 {
    animation: lineaSisocho 5s ease 0.8s infinite;
}

.sist9 {
    animation: lineaSisnueve 5s ease 0.9s infinite;
}

.sist10 {
    animation: lineaSisdiez 5s ease 1.0s infinite;
}

.sist11 {
    animation: lineaSisonce 5s ease 1.1s infinite;
}

/* transicion de opacidad en el recorrido del trazo */
@keyframes lineaSisuno {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSisdos {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSistres {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSiscuatro {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSiscinco {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSisseis {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSissiete {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSisocho {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSisnueve {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSisdiez {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes lineaSisonce {
    0% {
        filter: opacity(0);
    }

    20% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}


/* Animación 2 */

.cls-1 {
    fill: url(#Degradado_sin_nombre_7-3);
}

.cls-2 {
    fill: url(#Degradado_sin_nombre_7-2);
}

.cls-3 {
    fill: #0adffa;
}

.cls-4 {
    fill: url(#Degradado_sin_nombre_7-4);
}

.cls-5 {
    fill: url(#Degradado_sin_nombre_7-5);
}

.cls-6 {
    fill: url(#Degradado_sin_nombre_7);
}

 /* Transiciona del aro mayor */
.aroExterno {
    transform: rotateY(0deg) translateX(0px);
    animation: aroExterno 2s  ease infinite alternate;
}
@keyframes aroExterno {to {transform: rotateY(45deg) translateX(-80px);}}

/* Primer grupo de aros seccionados (puntos y lineas) */
.nivel1 {
    fill: #00749A;
    transform: rotateY(0deg) translateX(0px);
    animation: nivel1 2s ease infinite alternate;
}
@keyframes nivel1 {to {transform: rotateY(45deg) rotateX(0deg) translateX(-40px);}}

.center{
    transform-origin: 25% 25%;
    animation: center 2s ease 
    infinite alternate;
}

@keyframes center {to {transform: rotateX(-450deg) rotateY(450deg) rotateZ(150deg);}}

.nivel3 {
    transform: rotateY(0deg) translateX(0px);
    animation: nivel3 2s  ease infinite alternate;
}

@keyframes nivel3 {
    to {transform: rotateY(45deg) translateX(20px);}
}

.nivel4 {
    transform: rotateY(0deg) translateX(0px);
    animation: nivel4 2s  ease infinite alternate;
}

@keyframes nivel4 {
    to {transform: rotateY(45deg) translateX(100px);}
}



/* Animación 3 */


/* Animación 4 */


/* Animación 5 */


/* Estilos responsivos */


#menuAbrir,
#menuCerrar {
    display: none;
}

@media (max-width: 1000px) {

    #menuAbrir,
    #menuCerrar {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 40px;
        cursor: pointer;
    }

    #menuCerrar {
        z-index: 1;
    }

    .cntMenu.active {
        transform: translateX(0);
    }

    .cntMenu {
        width: 100%;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: end;
        right: 0;
        transform: translateX(100%);
        transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
        background-color: #00749A;

        & nav {
            margin-top: 5rem;

            & a {
                color: white;
                padding-right: 5rem;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    & a::before {
        position: absolute;
        content: '';
        width: 0%;
        height: 2px;
        background-color: #fff;
        bottom: 15%;
        transition: width 0.3s ease;
    }

    .cntImg {
        width: 30%;

        & img {
            width: 100%;
            filter: brightness(100);
        }
    }

    .cntAnimaciones {
        margin-left: 0%;
    }


    #animacion1,
    #animacion2,
    #animacion3,
    #animacion4,
    #animacion5,
    #notfound,
    #conclusiones {
        padding: 3rem;

    }

    #presentacion {
        text-align: center;
        border-left: 0;

    }

    #presentacion>ul {
        text-align: center;
        margin-right: 0px;

        & li {
            margin-left: 0px;
        }
    }

    #presentacion>p {
        text-align: center;
        margin: 50;
    }

    .actividad p:nth-child(2) {
        padding: 30px 0;
    }

    #animacion1, #animacion2 {
        flex-direction: column;

        & .cntTxt {
            width: 90%;
            padding: 0 0 0 0;
        }

        & .cntSvg {
            width: 80%;
            z-index: -1;
        }
    }

}


main{
    display: grid;
    grid-template-columns: 250px 1fr;
    & aside{

    }
    & section{

    }
}