body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
  
  
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cntMenu {
    position: fixed;
    width: 15%;
    min-width: 150px;
    height: 100vh;
    border-right: 1px solid #00749A;
    color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;

    

    & nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        height: 100%;
        margin-top: 100px;
        padding-top: 50px;

        & p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        & a {
            text-decoration: none;
            color: dimgrey;
            width: 100%;
            text-align: start;
            padding: 1rem 1.5rem;
            transition: color 0.7s ease;
            position: relative;
            overflow: hidden;

            &:hover {
                line-height: unset;
                color: #00749A;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}

.cntImg {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    & img {
        width: 50%;
        text-align: center;
    }
}


.notfound {
    display: flex;
    justify-content: center;
  align-items: center;
  /* gap: 20px; */
  text-align: left;
  max-width: 90%;
  flex-wrap: wrap;
}

.notfound__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.notfound__text h1 {
  font-size: 120px;
  color: transparent;
  -webkit-text-stroke: 2px #bb86fc;
  text-shadow: 4px 4px 0 #300050;
  margin: 0;
}


.notfound__text h5 {
  font-size: 30px;
  color: #c87cfa;
  margin: 0;
}


.notfound__text p {
  font-size: 20px;
  color: #858fcb;
  margin: 0;
}

.notfound__svg {
  display: flex;
  align-items: center;
}
.notfound__svg svg {
  width: 100%;      
  height: auto;     
}